<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roel.qstudent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activitys.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Models.NavBar.NavBar" />
        <activity android:name=".Activitys.ProfileActivity" />
        <activity android:name=".Activitys.VakActivity" />
        <activity android:name=".Activitys.SemesterActivity" />
        <activity android:name=".Activitys.ClassActivity" />
        <activity android:name=".Activitys.OnderdeelActivity" />
        <activity
            android:name=".Models.Forum.AwnserList"
            android:label="@string/title_activity_awnser_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Models.Forum.Reactie"
            android:label="@string/title_activity_reactie"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Models.Forum.postitemrow"
            android:label="@string/title_activity_postitemrow"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Models.Forum.postAwnsers"
            android:label="@string/title_activity_post_awnsers"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Models.Forum.Post_activity"
            android:label="@string/title_activity_post"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Models.Forum.PostList"
            android:label="@string/title_activity_post_list"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>